@import "tailwindcss";

:root {
  --background: linear-gradient(290.8deg, #d7eeeb 0%, #ffffff 76.77%);
  --foreground: #0a3634;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(----font-inter);
}

@theme {
  --color-turquoise-900: #0a3634;
  --color-turquoise-800: #134a47;
  --color-turquoise-700: #1e6864;
  --color-turquoise-600: #327b7b;
  --color-turquoise-200: #a8c6c4;
  --color-turquoise-100: #d7eeeb;
  --color-pink: #f175b9;
  --color-cyan: #3df7ff;
  --color-sky: #5a91ff;
  --color-white: #ffffff;
  --text-3\.\5xl: 2rem;
  --text-3\.\5xl--line-height: 2.5rem;
  --text-4\.\5xl: 2.5rem;
  --text-4\.\5xl--line-height: 3rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", Arial, Helvetica, sans-serif;
}
